.header {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    &__icon {
        margin-top: -6px;
        width: 41px;
        height: 41px;
    }

    &__title {
        color: $secondary;
        font-size: 24px;
        font-weight: bold;
        padding-left: 12px;
        padding-right: 12px;
    }

    &__text {
        display: none;
        font-size: 18px;
        text-decoration: none;
        color: $secondary;
        padding-left: 20px;
        padding-right: 20px;
        transition: 0.3s;

        &--main{
            font-weight: bold;
            margin-left:auto;
        }

        &:hover {
            color: $secondary;
            font-weight: bold;
            transition: 0.3s;
        }
        @include media-breakpoint-up(lg) {

            padding-top: 50px;
            padding-bottom: 50px;
            display: block;
        }
    }


}

.btn-menu {
    display: flex;
    z-index: 5;
    align-items: center;
    justify-content: center;
    min-height: 28px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: .3s ease;

    &:focus {
        outline: none;
    }

    &__text {
        margin-left: 10px;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1;
    }

    &__bars {
        display: block;
        position: relative;
        width: 36px;
        height: 4px;
        background-color: $primary;
        transition: .3s;

        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $primary;
            transition: .3s;
        }

        &:before {
            transform: translate(0, -12px);
        }

        &:after {
            transform: translate(0, 12px);
        }
    }

    .menu-open & {

        .btn-menu__bars {
            background-color: transparent;

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    @include media-breakpoint-up(lg) {

        display: none;
    }
}

.mobile-menu {
    background-color: $white;
    position: absolute;
    top: 90px;
    margin: 5px;
    z-index: 2;
    width: 80%;
    visibility: visible;
    transform-origin: top right;
    opacity: 0%;
    transform: scale(0%, 0%);
    transition: 0.5s;

    &.active {
          visibility: visible;
          transform-origin: top right;
          opacity: 100%;
          transform: scale(100%, 100%);
          transition: 0.5s;
    }
}


.mobile-menu-list {
  position: absolute;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid $primary;

  li {
    display:inline-block;
    width: 100%;

    :hover {
      background-color: $primary;
      color: $secondary;
      transition: 0.5s;
    }

    a {
      background-color: $white;
      color: $primary;
      display: block;
      font-size: 18px;
      height: 50px;
      line-height: 50px;
      padding: 0px 20px;
      letter-spacing: 1px;
      text-decoration: none;
      transition: 0.5s;
        }
    }
}

